.*

!.gitignore

.cache
/.classpath
db
dist
.DS_Store
**/*.DS_Store
*.eml
.history
.idea
/.idea_modules
*.iml
log
logs
modules
precompiled
/.project
/RUNNING_PID
server.pid
/.settings
target
.target
test-result
tmp
.idea_modules
.vagrant
